{% extends 'portfolio/base.html' %}
{% block content %}

{% load static %}

<h1 style="text-align:center; margin-top:50px"> About Me </h1>
<p style="text-align:center">
  My name is Siddharth Venkatraman, and I am a sophomore Computer Science student in the Engineering Honors program <br>
  at Texas A&M University. I am from Austin, Texas and graduated from Vandegrift High School in 2020. I have experience <br>
  in Software Engineering and Data Analysis, and am always looking for new oppurtunities to employ these skills.<p>
    <div class="text-center">
      <img src="{% static 'portfolio/AboutMe.jpg' %}" height=540 width=810 style="margin-top:50px" >
    </div>

{% endblock %}
