{% extends 'portfolio/base.html' %}
{% block content %}

{% load static %}

<h1 style="text-align:center; margin-top:50px"> About Me </h1>
<p style="text-align:center">
  My name is Siddharth Venkatraman, and I am a sophomore Computer Science student at Texas A&M University. I am <br>
  from Austin and graduated from Vandegrift High School in 2020. I'm a huge basketball fan, and support the <br>
  Golden State Warriors, as I lived in San Jose, California for the first eight years of my life. I find <br>
  Artificial Intelligence to be extremely fascinating, and hope to specialize in that field. <p>
    <div class="text-center">
      <img src="{% static 'portfolio/ZLHeadshotBrighter.jpg' %}" height=540 width=810 style="margin-top:50px" >
    </div>

{% endblock %}
